*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing:  border-box;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.about1 {
    background: url("./image/хиросима.jpg") no-repeat left;
    background-size: 55%;
    background-color: white;
    overflow: hidden;
    padding: 100px 0;
}
.intoabout {
    width: 55%;
    float: right;
    background-color: white;
    padding: 150px;
}
.intoabout h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
}
.text {
    font-size: 15px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
@media screen and (max-width: 1200px) {
.intoabout {
    padding: 80px;
}
}
@media screen and (max-width: 1000px){
.about1{
background-size: 100%;
padding: 100px 40px;
}
.intoabout{
    width: 100%;
}
}
@media screen and (max-width: 600px) {
.about1 {
    padding: 0;
}
.intoabout{
    padding: 60px;
}
}